<div class="row">
    <div class="col-sm-6">
      <table class="table-striped">
        <thead>
          <tr>
            <td>
              <p> Name </p>
            </td>
            <td>
              <p> Age</p>
            </td>
            <td></td>
          </tr>
        </thead>

        <tr *ngFor="let reader of readers">
          <td class="col-sm-1">
            {{reader.name}}
          </td>
          <td>
            {{reader.age}}
          </td>
          <td class="col-sm-1">
          </td>
        </tr>
      </table>
    </div>
  </div>
